/* stylelint-disable */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre, 
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small, 
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form, 
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas, 
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby, 
section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* stylelint-disable */

#home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(229, 229, 229);
  background-image: url(./images/header-background-mobile.svg);
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

#home-header {
  display: flex;
  align-items: flex-end;
  height: 5.75rem;
  margin-bottom: 0.75rem;
}

#greeting,
#about-me,
#social-media,
#toolbar-container {
  width: 100%;
}
